p {
    margin-top: 20px;
    // margin-left: 20px;
}

.example-spacer {
  flex: 1 1 auto;
}

.channel-lists {
  md-card {
    margin: 25px;
    padding: 0;
  }
}

.channel-name {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
}

.faq {
  max-width: 1000px; 
  margin: auto;

  md-card {
    margin: 25px;
    padding: 0;

    p, ul {
      margin-left: 35px;

      li {
        margin-bottom: 15px;
      }
    }
  }
}