<h1 md-dialog-title>Your message has joined the swarm!</h1>
<div md-dialog-content>You entered something very similar to a recent message. In order to reduce noise, that message has absorbed yours and has automatically been 'liked' by you.</div>
<div md-dialog-actions>
  <button md-button md-dialog-close="Option 1">OK</button>
  <!-- <button md-button md-dialog-close="Option 2">Option 2</button> -->
</div>
