.channel-header {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 2px;
    font-size: 133%;
}

.bee-image {
    width: 40px; 
    margin-right: 10px; 
    vertical-align: middle; 
    padding: 
    10px; cursor: pointer;
}

.overflow-fix {
    min-height: 0;
}

.user-comment {
    margin: 15px;
    .box {
        font-size: 120%;
        padding-left: 5px;
    }
    button {
        padding-left: 15px;
    }
}

.chat-comment {
    padding: 3px 0;

    td {
        vertical-align: top;
    }
    
    .comment-thumbs {
        i {
            cursor: pointer;
            font-size: 115%;
        }
    }
    
    .chat-comment-content {
        cursor: pointer;
        position: relative;
        
        .grow {
            transition: all .2s ease-in-out;
            word-break: break-word;
        }
    }

    .chat-comment-comments {
        cursor: pointer;
        vertical-align: middle; 
        padding-left: 10px;
    }
}

.comment-time {
    min-width: 40px;
    text-align: right;
    font-size: 80%;
}

.open-conversations {
  position: absolute;
  right: 20px;
  bottom: 100px;
}

.close-conversations {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.conversations-pane {
    width: 50%;

    .conversation-header {
        padding-left: 5px;
        md-select {
            margin-top: 15px;
            margin-left: 15px;
        }
    }
}

.conversation-pane {
    width: 50%;
}

@media (max-width: 800px) {
    .conversations-pane {
        width: 100%;
    }

    .conversation-pane {
        width: 100%;
    }
}

.example-spacer {
  flex: 1 1 auto;
}

.conversations-button {
    position: absolute; 
    right: 0;
    background-color: #ffd740;
    border-radius: 0;
    color: black;
    padding: 0;
    min-width: 30px;
    border-right: 1px solid black;
}

.smaller-user-count {
    font-size: 8px;
    padding: 4px 6px !important;
}

.new-messages {
    position: absolute; 
    left: 33%; 
    bottom: 77px;
    cursor: pointer;

    md-icon {
        vertical-align: middle;
    }

    md-chip {
        border: 2px solid transparent;
        &:hover {
            border: 2px solid black;
        }
    }
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #818078;
    background-color: #fcfcfa;
  }
}

.loading {
    opacity: .5;
    overflow-y: hidden !important;
}