<md-sidenav-container style="height: 100%;">
  <md-sidenav-container style="height: 100%; overflow: initial;">
     <div fxLayout="column" style="height: 100%;"> 
      <md-toolbar color="primary" style="padding: 0; height: 64px;" class="mat-elevation-z6">
          <img src="assets/bee.png" class="bee-image" [style.xs]="{'padding.px': 5, 'width.px': 30}" routerLink="/" mdTooltip="Home" mdTooltipPosition="below" alt="">
        <span class="channel-header" [class.xs]="'smaller'">#{{channelName}}</span>
        <span class="example-spacer"></span>
          <md-chip-list style="margin-right: 52px;">
            <md-chip [class.xs]="'smaller-user-count'">{{userCount}} user<span [hidden]="userCount == 1">s</span></md-chip>
          </md-chip-list>
        <button class="conversations-button" *ngIf="!conversationsNav.opened" md-button (click)="openConversations()" mdTooltip="View Conversations" mdTooltipPosition="before">
          <md-icon>comment</md-icon>
        </button>
      </md-toolbar>
      <div fxFlex fxLayout="row" class="overflow-fix">
        <!-- chat -->
        <div fxFlex fxLayout="column" fxLayoutAlign="end stretch" style="border-right: 1px solid silver;">
          <md-spinner *ngIf="initialLoad || chatLoading" style="position: absolute; top: 37%; left: 38%;"></md-spinner>
          <!-- messages -->
          <ul style="list-style: none; overflow-y: auto; padding-left: 2px;" id="chat-side" [class.xs]="'smaller'" (scroll)="onScroll()" [class.loading]="chatLoading">
            <li class="chat-comment" *ngFor="let comment of comments" (mouseenter)="comment.hover = true" (mouseleave)="comment.hover = false" [ngStyle]="{'border-bottom': comment.$key == lastOldMessageKey ? '1px solid pink' : 'initial'}" [class.scrollto]="comment.scrollTo">
              <hr *ngIf="comment.dayLine" class="hr-text" [attr.data-content]="comment.dayLine">
              <table class="comment-table">
                <tr>
                  <td class="comment-thumbs" style="padding-top: 2px;">
                    <i class="material-icons" [ngStyle]="{'color': getBoatStatus(comment), 'visibility': comment.hover || userUpboats[comment.$key] ? 'visible' : 'hidden'}"
                      (click)="boat(comment)">thumb_up</i>
                  </td>
                  <td class="comment-time" style="padding-top: 5px;" [style.xs]="{'min-width.px': 36}">
                    <small>{{comment.updatedOn | date:'shortTime'}}</small>
                  </td>
                  <td style="padding: 3px 3px 0 3px;">•</td>
                  <td class="chat-comment-content" (click)="openConversation(comment)">
                    <span class="grow" [ngStyle]="{'font-size': getSize(comment)}">{{comment.content}}</span>
                  </td>
                  <td class="chat-comment-comments" (click)="openConversation(comment)">
                    <small *ngIf="comment.replyCount > 0" class="moment-comments-count" mdTooltip="Comments" mdTooltipPosition="right" mdTooltipShowDelay="500">{{comment.replyCount}}</small>
                  </td>
                </tr>
              </table>
            </li>
          </ul>
          <!-- new message(s) button -->
          <md-chip-list class="new-messages" *ngIf="showNewMessageBtn">
            <md-chip [class.xs]="'smaller-user-count'" (click)="resetChat()">New Message(s) <md-icon>arrow_downward</md-icon></md-chip>
          </md-chip-list>
          <!-- user input -->
          <div style="height: 75px; border-top: 1px solid silver;" [style.xs]="{'height.px': 50, 'font-size.%': 70}">
            <div class="user-comment" fxLayout="row" [style.xs]="{'margin.px': 8}">
              <input fxFlex type="text" class="box" [style.xs]="{'font-size.%': 100}" [(ngModel)]="userCommentContent" (keyup.enter)="commentEntered()"
                (focus)="resetChat()">
              <button md-icon-button color="primary" (click)="commentEntered()"><md-icon>send</md-icon></button>
            </div>
          </div>
        </div>
        <!-- emotions -->
        <div style="border-right: 1px solid silver; width: 120px;" [style.xs]="{'width.px': 75}">
          <app-emotions [channelName]="channelName" [userCount]="userCount"></app-emotions>
        </div>
      </div>
    </div>
    <md-sidenav mode="side" #conversationsNav align="end" class="conversations-pane" fxLayout="column" fxLayoutAlign="end stretch">
      <md-toolbar color="accent" class="conversation-header mat-elevation-z6">
        <button md-button md-icon-button (click)="closeConversations()" mdTooltip="Close" mdTooltipPosition="below"><md-icon [style.xs]="{'font-size.px': 18}">close</md-icon></button> 
        <span style="margin-left: 5px;" fxHide.xs="true">Conversations</span>
        <span class="example-spacer"></span>
        <md-select placeholder="In the last" [(ngModel)]="conversationStart" (ngModelChange)="getConversations()">
          <md-option *ngFor="let option of startOptions" [value]="option.milliseconds">{{ option.display }}</md-option>
        </md-select>
        <md-select placeholder="Sort By" [(ngModel)]="sortBy" (ngModelChange)="sortChanged()">
          <md-option *ngFor="let option of sortOptions" [value]="option">{{ option }}</md-option>
        </md-select>
        <button md-button md-icon-button (click)="sortOrderingChanged()"><md-icon>swap_vert</md-icon></button>
      </md-toolbar>
      <md-spinner *ngIf="!conversations" style="margin: 50px auto;"></md-spinner>
      <h3 *ngIf="conversations && !conversations.length" class="mat-h3" style="text-align: center; margin-top: 50px; color: lightgray;"><em>No recent conversations. <br> Click on a chat to start one!</em></h3>
      <md-nav-list fxFlex style="overflow-y: auto;">
        <md-list-item *ngFor="let conversation of conversations" (click)="openConversation(conversation)">
          <small class="comment-time">{{conversation.updatedOn | date:'shortTime'}}</small>
          <span style="margin: 0 7px;">-</span>
          <div style="display: inline-block;" [ngStyle]="{'font-size': getSize(conversation)}">{{conversation.content}}</div>
          <small class="moment-comments-count" mdTooltip="Comments" mdTooltipPosition="right" mdTooltipShowDelay="500" style="margin-left: 5px;"
            [hidden]="conversation.replyCount == 0">{{conversation.replyCount}}</small>
        </md-list-item>
      </md-nav-list>
    </md-sidenav>
  </md-sidenav-container>
  <md-sidenav #conversationNav class="conversation-pane" align="end" (close)="conversationClosed()">
    <md-card *ngIf="clickedComment" style="background-color: #ffd740; padding-left: 15px;">
        <md-card-title>
          <div style="display: inline-block; vertical-align: middle;">
            <button md-button md-icon-button (click)="closeConversation()" mdTooltip="Close" mdTooltipPosition="below"><md-icon [style.xs]="{'font-size.px': 18}">close</md-icon></button> 
          </div>
          <div style="display: inline-block; vertical-align: middle; margin-left: 5px;">
            <strong>"</strong>{{clickedComment.content}}<strong>"</strong> <span style="font-size: 60%">({{clickedComment.updatedOn | date:'shortTime'}})</span> 
          </div>
        </md-card-title>
    </md-card>
    <div style="padding: 10px;" *ngIf="clickedComment">
      <disqus [identifier]="clickedComment.$key" [url]="'http://localhost:4200/hive/logan/?message=' + clickedComment.$key"
        (onNewComment)="onComment($event)"></disqus>
    </div>
  </md-sidenav>
</md-sidenav-container>