<div class="emotions" *ngIf="emotionSizes.happy" fxLayout="column" fxLayoutAlign="space-around center">
    <div fxFlex="16" *ngFor="let emotion of emotions" style="position: relative;">
        <!-- <span class="emotion-notification" [class.fade-up]="doFadeUp[emotion]">{{emotion}}</span> -->
        <img src="assets/{{emotion}}.png" alt="" mdTooltip="{{emotion.toUpperCase()}}" mdTooltipPosition="above" mdTooltipShowDelay="500" style="display: block;" [ngStyle]="{'transform': emotionSizes[emotion].transform, 'z-index': emotionSizes[emotion].zIndex, 'cursor': cursorType}"  (click)="addEmotion(emotion)"> 
    </div>
</div>