.emotions {
    user-select: none;
    height: 100%; 
    img {
        transition: transform 2s ease;
        transform: scale(.15);
        cursor: pointer;
    }
}

.emotion-notification {
    position: absolute;
    // left: 43px;
    bottom: 0px;
    opacity: 0;
    left: 0;
    // transition: opacity 1s ease-in-out;
    transition: all 1s ease-in-out;
    color: #673ab7;
    font-weight: bold;
    text-transform: capitalize;
}

.fade-up {
    opacity: 1;
    // bottom: 60px;
    left: -70px;
    transition: all 1s ease-in-out;
}