/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Mada');

@include mat-core();

html, body {
    height: 100%;
    position: relative;
}

body {
  margin: 0;
  font-family: 'Mada', sans-serif;
}

.mat-dialog-container {
    max-width: initial !important;
}

.moment-comments-count {
    background-color:lighten(#ffd740, 15%);
    padding: 5px;
    border-radius: 15px;
    font-weight: bold;
}

.mat-sidenav-content {
    overflow: initial !important;
}

#doorbell-button {
    bottom: initial;
    top: 64px;
    border-radius: 0 0 5px 5px;
    right: 180px
}

.smaller {
    font-size: 70% !important;
}